body {
    background-color: rgb(15, 7, 28);
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    
}

#main {
    border: red 1px solid;
    margin: 50px;
    width: 100% - 50px;
    height: 4000px;
    color: #bab4c2;
    font-size: 40px;
}